.containerTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  color: var(--text-secondary-color);
  text-transform: uppercase;
  margin-bottom: 1em;
}

.bookForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.input,
.select {
  flex-grow: 1;
  flex-shrink: 1;
}

.input {
  flex-basis: 55em;
}

.select {
  flex-basis: 10em;
}

.button {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 8em;
  font-weight: bold;
}
