.button {
  background-color: var(--accent-color);
  padding: 0.8em;
  border: none;
  border-radius: var(--border-radius);
  font-family: 'Roboto Slab', serif;
  color: var(--text-button-color);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
}

.button:hover {
  cursor: pointer;
  background-color: var(--accent-hover-color);
}

.button:active {
  background-color: var(--accent-active-color);
}
