.button {
  padding: 0.8em;
  border: none;
  border-radius: var(--border-radius);
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
}

.button:hover {
  cursor: pointer;
}

/* button colors */
.main {
  color: var(--blue-button-text);
  background-color: var(--blue-button-background);
}

.main:hover { background-color: var(--blue-button-hover-background); }
.main:active { background-color: var(--blue-button-active-background); }


.red {
  color: var(--red-button-text);
  background-color: var(--red-button-background);
}

.red:hover { background-color: var(--red-button-hover-background); }
.red:active { background-color: var(--red-button-active-background); }
